body {
     /* opacity:0.80; */
    background-image: url("../img/ramiro-mendes-237525-unsplash.jpg");
    /* background: #f6f8f8; */
    background-size: 100%;
}
.page{
    /* padding: 20px; */
    width: 80%;
    margin: auto;
    /* font-family: 'Source sans Pro', Calibri, Tahoma, sans-serif; */
    font-family:'EB Garamond', serif;
    font-size: 16px;
    background: rgba(221, 215, 226, 0.5);
    /* border: 0.5px solid rgb(189, 171, 202); */
    /* border-radius: 5px; */
    padding: 25px;
   
}
.contain {
    width: 80% !important; 
    font-family:'EB Garamond', serif;
    margin: auto;
   
    
   
  }

  nav ul li a {
      color: black !important;
      font-size: 18px;
      font-family:'EB Garamond', serif;
      font-style: italic;
  }

.navbar {
    border-bottom: 2px solid rgb(112, 94, 129); 
    background: rgba(159, 156, 161, .50) !important; 
  
    
}
footer .navbar {
    border: none;
    border-top: 2px solid rgb(112, 94, 129); 
    background: rgba(159, 156, 161, .50) !important;
    min-height: 100px;
    
}
footer img {
    width: 25px;
    height: 25px;
}
footer .navbar ul li {
    padding-left: 30px;
}
p {
    color: blue;
    font-size: 18px;
}
.violet {
    background: blueviolet;
}

.infophoto{
    min-height: 210px;
    height: auto;
}
.info{
    /* float: left; */

}.photo{
    /* float: right; */
}

.section {
    display: flex;
    margin-bottom: 50px;
    text-align: justify;
}

.sec-gauche {
    float: left;
    font-weight: bold;
    font-size: 20px;
}

.sec-droite {
    margin-left: 10px;
    margin-top: 15px;
    margin-right: 20px;
   
}

h2{
    font-size: 24px;
    font-family: 'Acme', sans-serif; 
    color:rgb(41, 16, 65);
    border-bottom: 2px solid #3388BB;
    width: 100%;
}
strong {
    color: rgb(38, 18, 56);
}
h4 {
    width: 100%;
    color:rgb(41, 16, 65);
}

.duree{
    font-weight: normal;
    font-style: italic;
    font-size: 16px; 
}
.titre{
    font-weight: bold;
    font-size: 18px;
    color: rgb(41, 16, 65);;
    font-family: 'Oswald', sans-serif;
}
/* #exp-gauche p:nth-of-type(1) {
    margin-top: 20px;
}

#exp-gauche p:nth-of-type(2) {
    margin-top: 70px;
}

#exp-gauche p:nth-of-type(3) {
    margin-top: 30px;
}

#exp-gauche p:nth-of-type(4) {
    margin-top: 30px;
}

#exp-gauche p:nth-of-type(5) {
    margin-top: 80px;
} */
#range div {
    width: 200px;
    height: 20px;
    background: gray;
    border: 1px solid black;
    margin-bottom: 20px;
}

#range {
        margin-top: 50px;
}
#range div:nth-of-type(3),
#range div:nth-of-type(4),
#range div:nth-of-type(5) {
    margin-top: 25px;
}

#range div:last-of-type{
    margin-top: 25px;
}
div#langue p:nth-of-type(1) {
  margin-top: 33px;
  
}

div#langue p:nth-of-type(2) {
    margin-top: 0px;
}

.div-sec {
    width: 100%;
}


/**
#forma-gauche {
    margin-bottom: 40px;
}

#forma-gauche p:nth-of-type(2) {
    margin-top: 30px;
}
*/

@media screen and (max-width: 600px) {
    .photo, .info {
     margin: auto;
    }
    h1, h2 {
        font-size: 18px;
        font-weight: bold;
        margin: auto;
        margin: 10px;
    }
    
  }